@CHARSET "UTF8";
table,tr, td{
	width : 50%;
	text-align: center;
	table-layout: auto;
	margin-left:auto;
    margin-right:auto;
	border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;


}


.naslov {
	font-size: 22px;
	background-color: #E1E10A;

}



.podnaslov {
	font-size: 16px;
	color: white;
	background-color : #0B3861;

}


select {
	width:50%;
}


.row0
	{
	font-size: 16px;
	width:100%;
	background-color: #E6E6E6;

	}
	
	
.row1 {
	font-size: 16px;
	width:100%;
  	background-color: #F5F6CE;
}
