@CHARSET "UTF8";

table,tr, td{
	text-align: center;
	table-layout: auto;
	margin-left:auto;
    margin-right:auto;
	border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;


}

.bold {
	font-weight: bold;
}




.header {
	text-align: center;
}

.naslov {
	font-size: 18px;
	background-color: #E1E10A;
	font-weight: bold;

}

.liga {
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.podnaslov {
	font-size: 16px;
	color: white;
	background-color : #38546E;
	

}

.podnaslov0 {
	font-size: 16px;
	color: white;
	background-color : #38546E;

}

.podnaslov1 {
	font-size: 16px;
	color: white;
	background-color : #6D88A0;

}




select {
	width:50%;
}

td.biggestr {
			background-color: #828D91;
			color:white;
			border-right: 3px solid black;
			
}
		
td.biggestl {
			background-color: #828D91;
			color:white;
			border-left: 3px solid black;
}
		
td.rightb	{
			border-right: 3px solid black;
}

td.leftb	{
			border-left: 3px solid black;
}

td.leftrightb	{
			border-left: 3px solid black;
			border-right: 3px solid black;
}

td.threeplus {
			background-color: #828D91;
			color:white;

}

td.vt {
			background-color: #828D91;
			color:white;
			border-left: 3px solid black;
			border-right: 3px solid black;
}

td.nd	{
			border-right: 3px solid black;
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			vertical-align: middle;
			margin: auto;
			
}
.row0
	{
	font-size: 16px;
	width:100%;
	background-color: #E6E6E6;

	}
	
	
.row1 {
	font-size: 16px;
	width:100%;
  	background-color: #F5F6CE;
}


.naslov a:link {
	color : black;
  	text-decoration: none;
}

.naslov a:visited {
  color : black;
  text-decoration: none;
}

.naslov a:hover {
    color: #FF00FF;
    text-decoration: none;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

