@CHARSET "UTF8";


table,td,tr{

	text-align: center;
	table-layout: auto;
	margin-left:auto; 
    margin-right:auto;
    border: 1px solid black;
    border-collapse: collapse;


}

.naslov {
	font-size: 22px;
	background-color: #E1E10A;

}

.podnaslov {
	font-size: 16px;
	color: white;
	background-color : #0B3861;



}

.podnaslov2 {
	font-size: 14px;
	background-color: #F5F6CE;
	

}


.row0
	{
	font-size: 14px;
	width:100%;
	background-color: #E6E6E6;

	}
	
	
.row1 {
	font-size: 14px;
	width:100%;
  	background-color: #81DAF5;
}

	
	
	
	
/* unvisited link */
a:link {
  color :black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color : black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
    text-decoration: none;
}

	